.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #191825;
}

.tittle-menu{
  font-family: 'Open Sans', sans-serif;
}

.result-get-view{
 text-align: center;
  width: 100%;
  margin-top: 10px; 
  flex-direction: column;
}  

.container-box{
  width: 40%;
}


@media (max-width: 420px) {
  .result-get-view{
    width: 100%;
    
    
  }  
  .txt-copied{
    margin: 4px;
  }
  .container-box{
    width: 95%;
  }             
}

@media (max-width: 650px) {
  .App {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 55px;
  }
}